{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}
    Register
{% endblock %}

{% block content %}

<div class="panel panel-default">

  <div class="panel-heading"><b>Register</b></div>

    <div class="clear20"></div>

    <form role="form" action="{% url 'register' %}" class="form-horizontal" method="post">

        {% csrf_token %}

        {% bootstrap_form form layout="horizontal" %}

        <div class="clear10"></div>

        {% buttons submit='Register' reset='Reset' layout='horizontal' %}
        {% endbuttons %}

    </form>

</div>

{% endblock %}